@model PowerBIEmbedded_AppOwnsData.Models.IndexConfig

@{ ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml"; }

<div style="padding:40px;">
	<h3>Epic Hyperspace Power BI Embed Application</h3>
	<p>Use this application to embed a Power BI application into Hyperspace.</p>
	<p>Use the following URL format:</p>

	<p>
		<code>
			<strong>
				http://hyperspacebiviewer.scmc.org/Home/EmbedReport/XXXX/YYYY
			</strong>
		</code>
	</p>
	<p>
		<code>
			<em>where XXXX = the Power BI Workspace GUID and YYYY = Power BI Report GUID</em>
		</code>
	</p>
</div>

